*{
    margin: 0px; padding: 0px; border: 0px;
}

  .navbar-nav .nav-link {
    font-family:'Atma';
    font-size: 1rem; 
    font-weight: bold; 
    color: #aac24e; 
    padding-left: 15px;
    padding-right: 15px;
  }

   .navbar-nav .nav-link:hover {
    color: #fba88a; 
  }

  .hero-container {
  position: relative; /* Allows absolute positioning of navbar */
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
}

.hero-banner {
  /* Style your hero banner here, including background image */
  height: 100px; /* Example height */
  background-size: cover;
  background-position: center;
  /* Add other styles as needed */
}

.navbar {
  position: absolute; /* Or fixed if you want it to stay fixed on scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensure navbar is on top of the hero */
}

.align-center {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Atma';
  font-size: 60px;
  color: #ffa000;
  font-weight: bold;
}

.product-list {
  background-color: white;
  padding: 3em;
}

.product-list .card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #fba88a;
  text-align: center;
  font-family: 'Atma';
}

.card .title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.card img {
  max-width: 100%;
}

.card .text {
  text-align: left;
  margin-left: .5em;
  margin-bottom: 0.5em;
  margin-top: .5em;
  font-size: 12px;
  padding-bottom: 3px;
}

.buy-button {
  background-color: #aac24e;
  border: none;
  padding: .5em;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: whitesmoke;
  padding-top: 2px;
}

.buy-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  transform: scale(1.05);
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

 .footer {
    background-color: #aac24e; 
    color: white; 
    font-family: 'Atma';
    font-size: 1rem;
    padding: 1rem 0; 
    margin-top: 2rem;
  }

  .home {
    color: white;
  }

  .about {
    color: white;
  }

  .link {
    color: white;
  }